.carousel-caption {
  bottom: 25%;
}

.carousel-item {
  height: 500px;
  background: #00675e;
}

.carousel-item img {
  width: 100%;
  height: auto;
  -webkit-filter: sepia(100%) hue-rotate(150deg) saturate(130%) brightness(100%);
  filter: sepia(100%) hue-rotate(150deg) saturate(130%) brightness(100%);
  opacity: .3;
}

@media (max-width: 767px) {
  .carousel-item img {
    width: auto;
    height: 100%;
  }
}

.action-fa .fas {
  color: #00629B;
  margin-top: -1rem;
  display: block;
  z-index: 4;
  position: relative;
  font-size: 2rem;
}

.action-fa .fas:before {
  background: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
}

.action-fa:hover a:hover {
  text-decoration: none;
}

.action-fa:hover .fas {
  color: #004268;
}

.topnav {
  background-color: rgba(52, 58, 64, 0.7);
}

.topnav ul, .topnav li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.topnav .nav-link {
  display: inline-block;
  color: rgba(207, 211, 216, 0.8);
  padding: .5rem;
}

.navmenu {
  background: rgba(175, 162, 162, 0.3);
}

.navmenu .nav-link {
  color: rgba(9, 52, 105, 0.8);
}

.navmenu .navbar-brand {
  line-height: 1.2rem;
  padding-right: 20px;
}

.navmenu .navbar-brand > .fa, .navmenu .navbar-brand > .fas {
  float: left;
  font-size: 36px;
  padding: 0 3px 0 0;
}

.subfeature .fa, .subfeature .fab, .subfeature .far, .subfeature .fas {
  font-size: 124px;
  text-align: center;
  padding: .3rem;
}

.subfeature > div > a {
  text-align: center;
  display: block;
}

@media (min-width: 768px) {
  .offset-top {
    margin-top: -3rem;
  }
}

.feature-grid {
  color: #fff;
}

.feature-grid .padded {
  padding: 2rem;
}

.feature-grid .padded a {
  -webkit-box-shadow: inset 0 0px 0 rgba(23, 162, 184, 0.2), inset 0 -1px 0 rgba(23, 162, 184, 0.7);
          box-shadow: inset 0 0px 0 rgba(23, 162, 184, 0.2), inset 0 -1px 0 rgba(23, 162, 184, 0.7);
}

.feature-grid .padded a:hover {
  text-decoration: none;
  -webkit-box-shadow: inset 0 0px 0 rgba(23, 162, 184, 0.2), inset 0 -1px 0 #17a2b8;
          box-shadow: inset 0 0px 0 rgba(23, 162, 184, 0.2), inset 0 -1px 0 #17a2b8;
}

.feature-grid > .row > div {
  background-size: cover;
  position: relative;
  background-position: center;
  min-height: 200px;
}

.feature-grid a {
  color: #fff;
}

.feature-grid .fa, .feature-grid .fas, .feature-grid .far {
  color: inherit;
  border: 1px solid #fff;
  padding: 10px 9px 10px 11px;
  border-radius: 50%;
  text-align: center;
}

.feature-grid .fa:hover, .feature-grid .fa:focus, .feature-grid .fa:active, .feature-grid .fas:hover, .feature-grid .fas:focus, .feature-grid .fas:active, .feature-grid .far:hover, .feature-grid .far:focus, .feature-grid .far:active {
  background-color: rgba(23, 162, 184, 0.7);
}

.feature-grid .overlay {
  left: 0;
  top: 0;
  right: 0;
  border: 0;
  background-color: rgba(78, 78, 78, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.feature-grid .overlay.lighten {
  background-color: rgba(78, 78, 78, 0.5);
}

.feature-grid .video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
}

.feature-grid .video-box small {
  color: #ddd;
}

.feature-grid .video-play, .feature-grid .video-desc {
  position: relative;
  margin: 15px;
}

.feature-grid .video-play {
  width: 2rem;
  margin-right: 0;
}

footer {
  overflow: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer a {
  color: #00f5df;
}

.text-light a, .text-white a {
  color: #fff;
}
