/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  clear: both;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
  position: relative;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.carousel.slick-slider {
  background-position: 50% 50%;
  background-image: url("/images/ajax-loader.gif");
  background-repeat: no-repeat;
}

.carousel.slick-slider.slick-initialized {
  background: none;
}

.carousel.slick-slider.slick-initialized .slick-list, .carousel.slick-slider.slick-initialized .slick-track {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  position: relative;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.carousel.slick-slider .caption {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  margin-left: -50%;
  width: 100%;
}

.carousel.slick-slider .caption > div {
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 3px 8px;
  color: #000;
}

.carousel.slick-slider .caption > div a {
  color: inherit;
}

.content-feature .slick-prev:before, .content-feature .slick-next:before {
  color: #333;
}

.content-feature.slick-slider {
  padding: 0 25px;
  margin: 0 25px;
}

.slick-slider > div > .caption, .slick-slider > div {
  display: none;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.slick-slider > div:first-child {
  display: block;
}

.slick-slider.slick-initialized > div, .slick-slider.content-feature > div:first-child {
  display: block;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
