#feature-carousel {
  .carousel-caption {
    bottom: 25%;
  }
  .carousel-item {
    height: 500px;
    background: $primary;
    img {
      width: 100%;
      height: auto;
      -webkit-filter: sepia(100%) hue-rotate(150deg) saturate(130%) brightness(100%);
      filter: sepia(100%) hue-rotate(150deg) saturate(130%) brightness(100%);
      opacity: .3;
    }
  }
}
@media (max-width: 767px) {
  .carousel-item img {
    width: auto;
    height: 100%;
  }
}

.action-fa {
  .fas {
    color: $primary;
    margin-top: -1rem;
    display: block;
    z-index: 4;
    position: relative;
    font-size: 2rem;
  
  }
  .fas:before {
    background: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
  }
}
.action-fa:hover {
  a:hover {  text-decoration: none;}
  .fas {
    color: darken($primary,10);
  }
}
