.navmenu { background: rgba(175, 162, 162, 0.3);  
  .nav-link { color: rgba(9, 52, 105, 0.8)}
  .navbar-brand { line-height: 1.2rem; padding-right:20px; }
  .navbar-brand > .fa, .navbar-brand > .fas { float:left; font-size: 36px; padding: 0 3px 0 0 }
}

 