
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-serif: "Spectral", serif;
$headings-font-family: $font-family-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//
 

$blue:    #00629B !default; 
$orange:  #DC4405 !default;
$yellow:  #ffb500 !default;
$green:   #00685E !default; 
$lightgreen: #43B02A !default;

$palette2a: #0b0c10;
$palette2b: #1f2833;
$palette2c: #c5c6c7;
$palette2d: #66fcf1;
$palette2e: #45a29e;

$palette3a: #f8e9a1; 
$palette3b: #f76c6c; 
$palette3c: #a8d0e6; 
$palette3d: #374785; 
$palette3e: #24305e;

$primary:       $palette3d !default;
$secondary:     $palette3b !default;
$light:         $palette3c !default;
$dark:          $palette3e !default;
$success:       $lightgreen !default; 
 

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
 
  
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
 