
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Rubik|Spectral:400,600"); 

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap'; 
@import '~@fancyapps/fancybox/dist/jquery.fancybox.min'; 

// Customizations
@import "_style_carousel";
@import "_style_topnav";
@import "_style_menu";
@import "_style_subfeature";
@import "_style_featuregrid";
@import "_style_footer.scss";

.text-light, .text-white { 
  a { color: #fff; 
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

main > .container { margin-top: 1rem; padding: 2rem 0;}
.padded { padding: 2rem 0;} 
img { max-width: 100%; width: auto; height: auto;}


.form-inline .searchbox input.form-control { display:none;}
.form-inline .searchbox .btn {
  background-color: transparent; color: $primary; border: 0;
}
.form-inline .searchbox.active .btn { background: $primary; color: #fff}