/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    clear:both;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
        position: relative;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


.carousel.slick-slider{
  background-position:50% 50%;
  background-image:url("/images/ajax-loader.gif");
  background-repeat:no-repeat}
  
  .carousel.slick-slider.slick-initialized{background:none}



  .carousel.slick-slider.slick-initialized .slick-list,.carousel.slick-slider.slick-initialized .slick-track{
  -moz-opacity:1;-khtml-opacity:1;opacity:1;position:relative;-webkit-transition:opacity 0.5s ease-in;-moz-transition:opacity 0.5s ease-in;-o-transition:opacity 0.5s ease-in;-ms-transition:opacity 0.5s ease-in;transition:opacity 0.5s ease-in}

  .carousel.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.carousel.slick-initialized .slick-slide img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
  
  .carousel.slick-slider .caption { 
    position: absolute;
    // top: 30%;
    // left: 50%; 
    text-align: center;
    // margin-left: -50%;
    // width: 100%; 
}
.carousel.slick-slider .caption > div {
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  padding: 8px 16px;
  //background-color: rgba(0, 0, 0, 0.7);
  p { margin:0; padding:0;}
  p + p { margin-top:1rem;}
  a { color: inherit; }
}
.carousel.slick-slider.slick-initialized { background: #24305e}
.carousel img {
  -webkit-filter: sepia(100%) hue-rotate(150deg) saturate(130%) brightness(100%);
  filter: sepia(100%) hue-rotate(150deg) saturate(130%) brightness(100%);
  opacity: .3;
}
.content-feature {
  .slick-prev:before, .slick-next:before {
    color: #333;
  }
  &.slick-slider {     
    padding: 0 25px;
    margin: 0 25px;}
}

.slick-slider>div>.caption,.slick-slider>div{display:none;-moz-opacity:0;-khtml-opacity:0;opacity:0}
.slick-slider>div:first-child{display:block;}
.slick-slider.slick-initialized>div, .slick-slider.content-feature>div:first-child{display:block;-moz-opacity:1;-khtml-opacity:1;opacity:1; }

// .slick-slider.content-feature > div, .slick-slider.content-feature .slick-slide {
//   padding: 50px;
// }
// .slick-slider.content-feature > div.slick-list { padding: 0;}